@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

/*    Reset CSS  */

* {
    margin: 0;
    padding: 0;
}
ol,
ul {
    list-style: none;
}
a {
    outline: 0;
    text-decoration: none;
    color: #353535;
}
img {
    border: 0;
    transition: width 0.5s;
}

/* Basics */
* {
    -webkit-box-sizing: border-box:
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*    From here    */
html {
    width:100%;
    height:100%;
    font-family: 'Source Sans Pro', sans-serif;
    
    font-size: 9px;
}

/* Selected text is highlighted in this color */
p::selection {
    color:#111;
    background:#EA5A29;
}

body {
    padding-top: 80px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height: 100vh; /* for the sticky footer  */
    
}

/* ----------------------- */ 

.breadcrumb {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100vw;
    padding-right: 9vw;
    padding-left: 9vw;
    margin:0;
    
    background: none;
    background-color: #E9E5DE; 
    border-radius: 0;
}

.breadcrumb .active {
    color: #EA5A29;
}

.navbar-fixed-top {
    background: none;
    background-color: #FFFFFF;
    padding: 15px 8vw 15px 8vw;
    border-bottom: 1px solid #fff;
}

/* 로고를 위해 제공된 공간은 width 180px */
.navbar .navbar-brand {
    width: 180px;
}

/* 로고 이미지 */
.navbar .navbar-brand img {
    position: absolute;
    height: 60px;
    top:10px;
}

/* 기본 nav 버튼 */
/* 위에 hover 하면 색 변함 */
.navbar .nav > li > a {
    background: none;
    color: #646367;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar .nav > li > a:hover {
    background: none;
    color: #EA5A29;
}

/* 현재 액티브한 버튼 오렌지색 */
/* 액티브한 버튼 위 호버해도 오렌지색 */
.navbar .nav .active > a {
    background: none;
    color: #EA5A29;
}
.navbar .nav .active > a:hover {
    background: none;
    color: #EA5A29;
}

/* 1080픽셀 아래는 검색기능 가리기 */
@media screen and (max-width: 1080px) {
    .navbar-right {
        display: none;
    }
}
    
.front {
    height: 300px;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.front-intro {
    /* Place it in the middle */ 
    width: 90vw;
    max-width: 900px;
    
    /* Makes the front-intro infront of the image */
    position: absolute;
    z-index: 101;
    
    /* font */
    color: white;
}

.front-intro-title {
    font-size: 4.5rem;
    font-weight: 700;
    text-align: center;
}

.front-intro-about {
    font-size: 2rem; 
    text-align: center;
}

.front-intro-body {
    display: none;
}

.front-BG{
    height: 100%;
    width: 100%;
    background: url("/visualMediaLab_website/imgs/Home_MainPic.jpg") no-repeat center center fixed; 
    background-size: cover;
    filter: brightness(70%);
}
.main {
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    flex: 1; /* for the sticky footer */
}

.research {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.research-box-wrapper {
    
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.research-intro {
    width: 100%;
    padding-bottom: 6rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}
/* intro-title for research...some problem here */
.research-intro-title {
    width: 100%;
    font-size: 3.2rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
}
/* intro-title for news and pub */
.intro-title {
    width: 100%;
    font-size: 3.2rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
}

/* more info about intro-title */
.intro-body{
    padding: 0rem 1.5rem 0rem 1.5rem ;
    font-size: 1.5rem;
    color: #646367;
}

.research-box {
    width: 80vw;
    max-width: 500px;
    font-size: 1.75rem;
    font-weight: 700;
    margin: 5vw 0 0 0;
    text-align: center;
    
}
.research-box a:hover {
    color: #EA5A29;
  }


.research-box img {
    width: 100%;
}


.container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; 
    padding-top: 6rem;
    padding-bottom: 10rem;
    
}
.publication {
    
    width: 90vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.publication-intro-title {
    width: 100%;
    font-size: 3.2rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    text-align: center;
    padding-bottom: 3rem;
}
.publication-recent {
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
    text-align: center;
    color: #F05A29;
    font-weight: 600; 
}

    
.news {
    border-top: 1px solid #E9E5DE;
    
    width: 90vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.news-intro-title {
    width: 100%;
    font-size: 3.2rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.news-recent {
    display: flex;
    padding-bottom: 1.5rem;
}


.news-date {
    width: 4rem;
    text-align: center;
    padding-right: 2rem;
    
    display: none;
}

.news-date span {
    font-size: 3.2rem;
    color: #FAAF40;
}

.news-body {
    margin-left: 2rem;
    font-size: 1.1rem;
    flex-grow: 1;
}
.news-body span {
    font-size: 1.3rem;
    color: #F05A29;
}

/* Following is a simple link button */
.View-all {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.View-all-b {
    margin: auto;
    width: 110px;
    height: 40px;
    text-align: center;
    color: white;
    background-color: #646367;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    height: 200px;
    width: 100%;
    background-color: #222225;
    
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 10vw;
    padding-left: 10vw;
    
    font-size: 1.2rem;
    
    color: white;
}

.footer-contact {
    flex-grow: 1;
}
.footer-logo {
    width: 17vw;
}
.footer-logo img {
    width: 100%;
}

.very-bottom {
    width: 100%;
    height: 15px;
    background-color: #FAAF40;
}


@media screen and (min-width: 500px) {
    html {
        font-size: 10px;
    }
    
    .main {
        flex-flow: row wrap;
    }
    
    .front {
        height: 500px;
    }
    
    .front-intro {
        width: 70vw;
    }
    
  
    .front-intro-body {
        display: none;
    }
    
    .intro-title {
        text-align: left;
    }
    
    /* pub & news setting their things in rows */
    .publication {
        width: 40vw;
        min-width: 450px;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    .publication-recent {
       font-size: 1.4rem;
    }
    .news {
        
        width: 40vw;
        min-width: 450px;
        border-top: none;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    
    .news-date {
        display: unset;
    }
    
}

@media screen and (min-width: 1080px) {
    
    html {
        font-size: 12px;
    }
    
    .front {
        height: 650px;
    }
    .front-intro-body {
        display: unset;
        font-size: 1.4rem;
        line-height: 150%;
    }
    .research-box-wrapper {

        flex-flow: row wrap;
        align-items: flex-start;
    }
    .research-box {
        width: 25%;
        max-width: 370px;
        margin: 0 5vw 0 0 ;
    }
    
    .research-box div:last-child {
        margin-right:0;
    }
    
    .container {
        flex-flow: row nowrap; /* news and pub now shown in row */
        justify-content: center;
        align-items: flex-start;
    }
    
    /* space between pub and news */
    
    .publication {
        padding-right: 3vw; 
    }
    
    .publication-intro-title {
        text-align: left;
    }
    
    .news-intro-title {
        text-align: left;
        padding-top: 0;
    }
    
    .news {
        padding-left: 3vw;
        border-left: 1px solid #E9E5DE;
    }
    
        
    .news-recent div:not(:first-child) {
        padding-left: 5%; 
    }
    
    /* View-all btn is not going to be center */
    .View-all-b {
        margin: 0; 
    }
    
}

@media screen and (min-width: 1500px) {
    
    html {
        font-size: 14px;
    }
}


/* -------------- */ 

@media screen and (max-width: 1080px) {
    .footer-logo {
        display: none;
    }
    .footer {
        height: 150px;
    }
}